Repository inspektor-gadget/inspektor-gadget, pull requests merged in 2020-05, with the labels that each got.

#77 Use TraceMeta from traceloop repo
  cmd/kubectl-gadget/traceloop.go
  go.mod
  go.sum
  pkg/factory/setk8sdefaults.go
  pkg/tracemeta/tracemeta.go
Labels: gadget/traceloop

#72 traceloop list: add presentation options: namespace filters, headers
  cmd/kubectl-gadget/traceloop.go
  cmd/kubectl-gadget/utils.go
  gadget-container/gadget.Dockerfile
Labels: area/gadgets, gadget/traceloop

#73 Add OSX builds
  .github/workflows/inspektor-gadget.yml
  Documentation/install.md
  Makefile
Labels: area/build
