Repository inspektor-gadget/inspektor-gadget, pull requests merged in 2022-08, with the labels that each got.

#809 gadgets/trace/open: Fix uid filter
  pkg/gadgets/trace/open/tracer/bpf/opensnoop.bpf.c
  pkg/gadgets/trace/open/tracer/opensnoop_bpfel.o
Labels: bug

#858 pkg/gadgets/top/ebpf: introduce cumulruntime and cumulruncount
  cmd/kubectl-gadget/top/ebpf.go
  docs/gadgets/ebpftop.md
  docs/guides/top/ebpf.md
  pkg/gadgets/top/ebpf/tracer/tracer.go
  pkg/gadgets/top/ebpf/types/types.go
  pkg/resources/samples/trace-ebpftop.yaml
Labels: gadget/topebpf

#857 gadgets/top: Make API simpler
  cmd/kubectl-gadget/top/block-io.go
  cmd/kubectl-gadget/top/ebpf.go
  cmd/kubectl-gadget/top/file.go
  cmd/kubectl-gadget/top/tcp.go
  examples/gadgets/basic/top/file/file.go
  pkg/gadget-collection/gadgets/top/block-io/gadget.go
  pkg/gadget-collection/gadgets/top/ebpf/gadget.go
  pkg/gadget-collection/gadgets/top/file/gadget.go
  pkg/gadget-collection/gadgets/top/tcp/gadget.go
  pkg/gadgets/top/block-io/tracer/tracer.go
  pkg/gadgets/top/block-io/types/types.go
  pkg/gadgets/top/ebpf/tracer/tracer.go
  pkg/gadgets/top/ebpf/types/types.go
  pkg/gadgets/top/file/tracer/tracer.go
  pkg/gadgets/top/file/types/types.go
  pkg/gadgets/top/tcp/tracer/tracer.go
  pkg/gadgets/top/tcp/types/types.go
Labels: gadgets/top
