Repository inspektor-gadget/inspektor-gadget, pull requests merged in 2022-12, with the labels that each got.

#1167 local-gadget: Add support for printing container deletion events
  cmd/local-gadget/containers/containers.go
  integration/local-gadget/list_containers_test.go
  pkg/container-collection/pubsub.go
Labels: area/local-gadget

#1204 docs: Organize talks
  README.md
Labels: area/documentation

#1187 cmd/deploy: Add node-selector flag
  cmd/kubectl-gadget/deploy.go
  docs/install.md
Labels: area/kubectl-gadget

#1200 gadgets: align tracer implementations
  pkg/gadgets/advise/seccomp/tracer/bpf/seccomp.bpf.c
  pkg/gadgets/advise/seccomp/tracer/seccomp_bpfel_arm64.o
  pkg/gadgets/advise/seccomp/tracer/seccomp_bpfel_x86.o
  pkg/gadgets/advise/seccomp/tracer/tracer.go
  pkg/gadgets/audit/seccomp/tracer/auditseccomp_bpfel_arm64.go
  pkg/gadgets/audit/seccomp/tracer/auditseccomp_bpfel_arm64.o
  pkg/gadgets/audit/seccomp/tracer/auditseccomp_bpfel_x86.go
  pkg/gadgets/audit/seccomp/tracer/auditseccomp_bpfel_x86.o
  pkg/gadgets/audit/seccomp/tracer/auditseccompwithfilters_bpfel_arm64.go
  pkg/gadgets/audit/seccomp/tracer/auditseccompwithfilters_bpfel_arm64.o
  pkg/gadgets/audit/seccomp/tracer/auditseccompwithfilters_bpfel_x86.go
  pkg/gadgets/audit/seccomp/tracer/auditseccompwithfilters_bpfel_x86.o
  pkg/gadgets/audit/seccomp/tracer/bpf/audit-seccomp.bpf.c
  pkg/gadgets/audit/seccomp/tracer/tracer.go
  pkg/gadgets/snapshot/process/tracer/bpf/process-collector.bpf.c
  pkg/gadgets/snapshot/process/tracer/processcollector_bpfel.go
  pkg/gadgets/snapshot/process/tracer/processcollector_bpfel.o
  pkg/gadgets/snapshot/process/tracer/processcollectorwithfilters_bpfel.go
  pkg/gadgets/snapshot/process/tracer/processcollectorwithfilters_bpfel.o
  pkg/gadgets/snapshot/process/tracer/tracer.go
  pkg/gadgets/snapshot/socket/tracer/itertcpv4_bpfel.go
  pkg/gadgets/snapshot/socket/tracer/iterudpv4_bpfel.go
  pkg/gadgets/snapshot/socket/tracer/tracer.go
  pkg/gadgettracermanager/containers-map.h
Labels: area/gadgets

#1207 gadgets/snapshot/process: Rename columns to match user space
  cmd/common/snapshot/process.go
  docs/local-gadget.md
  integration/inspektor-gadget/integration_test.go
  integration/local-gadget/snapshot_process_test.go
  pkg/gadgets/snapshot/process/tracer/tracer.go
  pkg/gadgets/snapshot/process/types/process-collector.go
Labels: gadgets/snapshot/process

#1208 gadgets/snapshot/process: Add support for older kernels
  cmd/local-gadget/snapshot/process.go
  examples/gadgets/basic/snapshot/process/process.go
  integration/inspektor-gadget/integration_test.go
  pkg/gadget-collection/gadgets/snapshot/process/gadget.go
  pkg/gadgets/internal/test/helpers.go
  pkg/gadgets/snapshot/process/tracer/tracer.go
  pkg/gadgets/snapshot/process/tracer/tracer_test.go
Labels: gadgets/snapshot/process

#1162 integration: Add docker containers integration-tests
  .github/workflows/inspektor-gadget.yml
  docs/CONTRIBUTING.md
  integration/command.go
  integration/docker.go
  integration/inspektor-gadget/integration_test.go
  integration/local-gadget/.gitignore
  integration/local-gadget/k8s/Makefile
  integration/local-gadget/k8s/integration_test.go
  integration/local-gadget/k8s/list_containers_test.go
  integration/local-gadget/k8s/profile_bio_test.go
  integration/local-gadget/k8s/profile_cpu_test.go
  integration/local-gadget/k8s/snapshot_process_test.go
  integration/local-gadget/k8s/top_block_io_test.go
  integration/local-gadget/k8s/top_ebpf_test.go
  integration/local-gadget/k8s/top_file_test.go
  integration/local-gadget/k8s/top_tcp_test.go
  integration/local-gadget/k8s/trace_bind_test.go
  integration/local-gadget/k8s/trace_capabilities_test.go
  integration/local-gadget/k8s/trace_dns_test.go
  integration/local-gadget/k8s/trace_exec_test.go
  integration/local-gadget/k8s/trace_fsslower_test.go
  integration/local-gadget/k8s/trace_mount_test.go
  integration/local-gadget/k8s/trace_oomkill_test.go
  integration/local-gadget/k8s/trace_open_test.go
  integration/local-gadget/k8s/trace_signal_test.go
  integration/local-gadget/k8s/trace_sni_test.go
  integration/local-gadget/k8s/trace_tcp_test.go
  integration/local-gadget/k8s/trace_tcpconnect_test.go
  integration/local-gadget/non-k8s/Makefile
  integration/local-gadget/non-k8s/integration_test.go
  integration/local-gadget/non-k8s/list_containers_test.go
  integration/teststeps.go
  pkg/container-utils/testutils/docker.go
  pkg/container-utils/testutils/options.go
  pkg/container-utils/testutils/options_test.go
  pkg/local-gadget-manager/local-gadget-manager_test.go
Labels: area/ci
