Repository inspektor-gadget/inspektor-gadget, changes with the owners that CODEOWNERS names for each.
All owners: @alban, @mauriciovasquezbernal, @eiffel-fl, @mqasimsarfraz, @flyth, @blanquicet, @burak-ok, @i-Pear

artifacthub: skip ci gadgets
  gadgets/ci/sched_cls_drop/artifacthub-pkg.yml
Owners: @mauriciovasquezbernal

ci: Attach SBOM to container images.
  .github/workflows/inspektor-gadget.yml
Owners: @eiffel-fl, @mqasimsarfraz

docs: Update documentation to verify and inspect container SBOMs.
  docs/getting-started/verify.md
Owners: @mauriciovasquezbernal

integration: IntegrationTestsContainer interface is not necessary
  integration/container_interface.go
  integration/containerd.go
  integration/docker.go
Owners: @blanquicet, @mqasimsarfraz

godoc commets and minor fixes
  .github/workflows/inspektor-gadget.yml
  Makefile
  pkg/testing/command/command.go
  pkg/testing/command/teststeps.go
  pkg/testing/ig/ig.go
  pkg/testing/match/match.go
Owners: @eiffel-fl, @mqasimsarfraz, @alban, @mauriciovasquezbernal

integration: Increase pod and job ready timeout to 45s
  integration/command.go
Owners: @blanquicet, @mqasimsarfraz

README.md: update Helm charts badge
  README.md
Owners: @alban, @mauriciovasquezbernal

artifacthub badge: rename inspektor-gadgets to gadgets
  README.md
  docs/devel/hello-world-gadget.md
Owners: @alban, @mauriciovasquezbernal

integration: Wait until test-pod is ready or was OOMKilled for oomkill tests.
  integration/command.go
  integration/inspektor-gadget/run_trace_oomkill_test.go
  integration/inspektor-gadget/trace_oomkill_test.go
Owners: @blanquicet, @mqasimsarfraz, @eiffel-fl

pkg/operators: add new operator types
  pkg/operators/operators.go
  pkg/operators/registry.go
Owners: @flyth

pkg/datasource: Add DataSource package
  pkg/datasource/accessors.go
  pkg/datasource/columns.go
  pkg/datasource/data.go
  pkg/datasource/datasource.go
  pkg/datasource/field.go
  pkg/datasource/subscription.go
Owners: @alban, @mauriciovasquezbernal

update gadget-service API
  pkg/gadget-service/api-helpers/apihelpers.go
  pkg/gadget-service/api/api.pb.go
  pkg/gadget-service/api/api.proto
  pkg/gadget-service/api/api_grpc.pb.go
  pkg/gadget-service/api/consts.go
  pkg/gadget-service/api/helpers.go
Owners: @flyth

CODEOWNERS:

# Code owners are used to define who is responsible for reviewing PRs.
# Currently we don't define any teams, but we can do that later on.
#
# Please check [0] to get more details about the syntax of this file.
#
# [0] https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Keep the list sorted
# The last matching pattern takes the most precedence, then more specific rules should be after.
* @alban @mauriciovasquezbernal
/.github/ @eiffel-fl @mqasimsarfraz
/charts/ @mqasimsarfraz
/cmd/common/ @flyth
/cmd/ig/ @blanquicet
/Dockerfiles/ @eiffel-fl @mqasimsarfraz
/docs/ @mauriciovasquezbernal
/docs/images/architecture/ @eiffel-fl
/examples/ @mauriciovasquezbernal
/examples/container-collection/ @alban
/examples/container-hook/ @alban
/examples/kube-container-collection/ @alban
/examples/runc-hook/ @alban
/gadget-container/hooks/ @alban
/gadgets/ @mauriciovasquezbernal
/integration/ @blanquicet @mqasimsarfraz
/integration/inspektor-gadget/ @eiffel-fl
/internal/benchmarks/ @alban
/pkg/amd64/ @eiffel-fl
/pkg/arm64/ @eiffel-fl
/pkg/columns/ @flyth
/pkg/container-collection/ @alban @blanquicet @mqasimsarfraz
/pkg/container-hook/ @alban
/pkg/container-utils/ @blanquicet @mqasimsarfraz
/pkg/container-utils/containerd/ @burak-ok
/pkg/gadget-context/ @flyth
/pkg/gadget-registry/ @flyth
/pkg/gadget-service/ @flyth
/pkg/gadgets/advise/networkpolicy/ @alban
/pkg/gadgets/advise/seccomp/ @alban
/pkg/gadgets/audit/seccomp/ @alban
/pkg/gadgets/common/ @mauriciovasquezbernal
/pkg/gadgets/profile/tcprtt/ @blanquicet
/pkg/gadgets/prometheus/ @mauriciovasquezbernal
/pkg/gadgets/run/ @burak-ok @mauriciovasquezbernal
/pkg/gadgets/script/ @mauriciovasquezbernal
/pkg/gadgets/snapshot/process/ @alban @mauriciovasquezbernal
/pkg/gadgets/snapshot/socket/ @alban @blanquicet
/pkg/gadgets/test/ @mauriciovasquezbernal
/pkg/gadgets/top/file/ @mauriciovasquezbernal
/pkg/gadgets/trace/capabilities/ @alban
/pkg/gadgets/trace/dns/ @alban @blanquicet
/pkg/gadgets/trace/exec/ @mauriciovasquezbernal
/pkg/gadgets/trace/network/ @alban @blanquicet
/pkg/gadgets/trace/oomkill/ @eiffel-fl
/pkg/gadgets/trace/open/ @mauriciovasquezbernal
/pkg/gadgets/trace/signal/ @eiffel-fl
/pkg/gadgets/trace/sni/ @alban @blanquicet
/pkg/gadgets/trace/tcp/ @mauriciovasquezbernal
/pkg/gadgets/trace/tcpconnect/ @mauriciovasquezbernal
/pkg/gadgets/trace/tcpdrop/ @alban
/pkg/gadgets/traceloop/ @eiffel-fl
/pkg/gadgettracermanager/ @mauriciovasquezbernal
/pkg/histogram/ @blanquicet
/pkg/ig-manager/ @blanquicet
/pkg/kallsyms/ @alban
/pkg/netnsenter/ @alban
/pkg/networktracer/ @alban @blanquicet
/pkg/operators/ @flyth
/pkg/operators/kubeipresolver/ @burak-ok
/pkg/operators/kubenameresolver/ @burak-ok
/pkg/params/ @flyth @mauriciovasquezbernal
/pkg/prometheus/ @mauriciovasquezbernal
/pkg/rawsock/ @alban
/pkg/resources/manifests/ @eiffel-fl
/pkg/resources/rbac/ @eiffel-fl
/pkg/runcfanotify/ @alban
/pkg/runtime/ @flyth @mauriciovasquezbernal
/pkg/socketenricher/ @alban
/pkg/standardgadgets/ @mauriciovasquezbernal
/pkg/tracer-collection/ @alban
/pkg/types/ @blanquicet
/pkg/uprobetracer/ @i-Pear
/pkg/utils/bpf-iter-ns/ @alban
/pkg/utils/host/ @alban
/tools/ @mqasimsarfraz
/tools/demos/ @alban
