Repository inspektor-gadget/inspektor-gadget, changes with the owners that CODEOWNERS names for each.
All owners: @alban, @mauriciovasquezbernal, @eiffel-fl, @mqasimsarfraz, @flyth, @blanquicet, @burak-ok, @i-Pear

CODEOWNERS:

# Code owners are used to define who is responsible for reviewing PRs.
# Currently we don't define any teams, but we can do that later on.
#
# Please check [0] to get more details about the syntax of this file.
#
# [0] https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Keep the list sorted
# The last matching pattern takes the most precedence, then more specific rules should be after.
* @alban @mauriciovasquezbernal
/.github/ @eiffel-fl @mqasimsarfraz
/charts/ @mqasimsarfraz
/cmd/common/ @flyth
/cmd/ig/ @blanquicet
/Dockerfiles/ @eiffel-fl @mqasimsarfraz
/docs/ @mauriciovasquezbernal
/docs/images/architecture/ @eiffel-fl
/examples/ @mauriciovasquezbernal
/examples/container-collection/ @alban
/examples/container-hook/ @alban
/examples/kube-container-collection/ @alban
/examples/runc-hook/ @alban
/gadget-container/hooks/ @alban
/gadgets/ @mauriciovasquezbernal
/integration/ @blanquicet @mqasimsarfraz
/integration/inspektor-gadget/ @eiffel-fl
/internal/benchmarks/ @alban
/pkg/amd64/ @eiffel-fl
/pkg/arm64/ @eiffel-fl
/pkg/columns/ @flyth
/pkg/container-collection/ @alban @blanquicet @mqasimsarfraz
/pkg/container-hook/ @alban
/pkg/container-utils/ @blanquicet @mqasimsarfraz
/pkg/container-utils/containerd/ @burak-ok
/pkg/gadget-context/ @flyth
/pkg/gadget-registry/ @flyth
/pkg/gadget-service/ @flyth
/pkg/gadgets/advise/networkpolicy/ @alban
/pkg/gadgets/advise/seccomp/ @alban
/pkg/gadgets/audit/seccomp/ @alban
/pkg/gadgets/common/ @mauriciovasquezbernal
/pkg/gadgets/profile/tcprtt/ @blanquicet
/pkg/gadgets/prometheus/ @mauriciovasquezbernal
/pkg/gadgets/run/ @burak-ok @mauriciovasquezbernal
/pkg/gadgets/script/ @mauriciovasquezbernal
/pkg/gadgets/snapshot/process/ @alban @mauriciovasquezbernal
/pkg/gadgets/snapshot/socket/ @alban @blanquicet
/pkg/gadgets/test/ @mauriciovasquezbernal
/pkg/gadgets/top/file/ @mauriciovasquezbernal
/pkg/gadgets/trace/capabilities/ @alban
/pkg/gadgets/trace/dns/ @alban @blanquicet
/pkg/gadgets/trace/exec/ @mauriciovasquezbernal
/pkg/gadgets/trace/network/ @alban @blanquicet
/pkg/gadgets/trace/oomkill/ @eiffel-fl
/pkg/gadgets/trace/open/ @mauriciovasquezbernal
/pkg/gadgets/trace/signal/ @eiffel-fl
/pkg/gadgets/trace/sni/ @alban @blanquicet
/pkg/gadgets/trace/tcp/ @mauriciovasquezbernal
/pkg/gadgets/trace/tcpconnect/ @mauriciovasquezbernal
/pkg/gadgets/trace/tcpdrop/ @alban
/pkg/gadgets/traceloop/ @eiffel-fl
/pkg/gadgettracermanager/ @mauriciovasquezbernal
/pkg/histogram/ @blanquicet
/pkg/ig-manager/ @blanquicet
/pkg/kallsyms/ @alban
/pkg/netnsenter/ @alban
/pkg/networktracer/ @alban @blanquicet
/pkg/operators/ @flyth
/pkg/operators/kubeipresolver/ @burak-ok
/pkg/operators/kubenameresolver/ @burak-ok
/pkg/params/ @flyth @mauriciovasquezbernal
/pkg/prometheus/ @mauriciovasquezbernal
/pkg/rawsock/ @alban
/pkg/resources/manifests/ @eiffel-fl
/pkg/resources/rbac/ @eiffel-fl
/pkg/runcfanotify/ @alban
/pkg/runtime/ @flyth @mauriciovasquezbernal
/pkg/socketenricher/ @alban
/pkg/standardgadgets/ @mauriciovasquezbernal
/pkg/tracer-collection/ @alban
/pkg/types/ @blanquicet
/pkg/uprobetracer/ @i-Pear
/pkg/utils/bpf-iter-ns/ @alban
/pkg/utils/host/ @alban
/tools/ @mqasimsarfraz
/tools/demos/ @alban

gadgets/trace_malloc: fix tracer's name
  gadgets/trace_malloc/gadget.yaml
  gadgets/trace_malloc/program.bpf.c
Owners: @mauriciovasquezbernal

gadgets/trace_malloc: add `mntns_id` field
  gadgets/trace_malloc/program.bpf.c
Owners: @mauriciovasquezbernal

gadgets/trace_malloc: use library names instead of absolute paths
  gadgets/trace_malloc/program.bpf.c
Owners: @mauriciovasquezbernal

tree-wide: Fix imports grouping and add lint target
  .golangci.yml
  cmd/kubectl-gadget/advise/seccomp-profile.go
  cmd/kubectl-gadget/deploy.go
  cmd/kubectl-gadget/undeploy.go
  gadget-container/entrypoint/entrypoint.go
  pkg/btfgen/btfgen.go
  pkg/container-collection/networktracer/connect.go
  pkg/container-utils/cri/cri_test.go
  pkg/gadget-collection/gadgets/interface.go
  pkg/gadgets/snapshot/socket/tracer/tracer_test.go
Owners: @alban, @mauriciovasquezbernal, @blanquicet, @mqasimsarfraz

trace_mount: add missing fields in gadget metadata
  gadgets/trace_mount/gadget.yaml
  integration/inspektor-gadget/run_trace_mount_test.go
Owners: @mauriciovasquezbernal, @eiffel-fl

README: Update community meeting times
  README.md
Owners: @alban, @mauriciovasquezbernal

examples: Add trace network with container filter
  examples/README.md
  examples/gadgets/withfilter/trace/network/.gitignore
  examples/gadgets/withfilter/trace/network/Dockerfile
  examples/gadgets/withfilter/trace/network/Dockerfile.dockerignore
  examples/gadgets/withfilter/trace/network/README.md
  examples/gadgets/withfilter/trace/network/deploy.sh
  examples/gadgets/withfilter/trace/network/deploy.yaml
  examples/gadgets/withfilter/trace/network/network.go
Owners: @mauriciovasquezbernal

Makefile: Add target to debug ig using delve.
  Makefile
Owners: @alban, @mauriciovasquezbernal

image list: add creation date
  cmd/common/image/build.go
  cmd/common/image/list.go
  pkg/oci/build.go
  pkg/oci/oci.go
Owners: @flyth, @alban, @mauriciovasquezbernal

trace_dns: switch from perf ringbuf to bpf ringbuf
  gadgets/trace_dns/program.bpf.c
  include/gadget/sockets-map.h
  pkg/gadgets/trace/dns/tracer/dns_bpfel.go
  pkg/gadgets/trace/dns/tracer/dns_bpfel.o
  pkg/gadgets/trace/network/tracer/network_bpfel.go
  pkg/gadgets/trace/network/tracer/network_bpfel.o
  pkg/gadgets/trace/sni/tracer/snisnoop_bpfel.go
  pkg/gadgets/trace/sni/tracer/snisnoop_bpfel.o
  pkg/gadgets/trace/tcpdrop/tracer/tcpdrop_arm64_bpfel.o
  pkg/gadgets/trace/tcpdrop/tracer/tcpdrop_x86_bpfel.o
  pkg/gadgets/trace/tcpretrans/tracer/tcpretrans_arm64_bpfel.o
  pkg/gadgets/trace/tcpretrans/tracer/tcpretrans_x86_bpfel.o
  pkg/socketenricher/socketenricher_arm64_bpfel.go
  pkg/socketenricher/socketenricher_arm64_bpfel.o
  pkg/socketenricher/socketenricher_x86_bpfel.go
  pkg/socketenricher/socketenricher_x86_bpfel.o
  pkg/socketenricher/socketsiter_arm64_bpfel.go
  pkg/socketenricher/socketsiter_arm64_bpfel.o
  pkg/socketenricher/socketsiter_x86_bpfel.go
  pkg/socketenricher/socketsiter_x86_bpfel.o
Owners: @mauriciovasquezbernal, @alban, @blanquicet

docs/run: Use shorter form in the guide
  docs/guides/run.md
Owners: @mauriciovasquezbernal

run/types: Add profilers to metadata.
  pkg/gadgets/run/types/metadata.go
  pkg/gadgets/run/types/metadata_test.go
  testdata/Makefile
  testdata/validate_metadata_profiler.bpf.c
  testdata/validate_metadata_profiler.o
Owners: @burak-ok, @mauriciovasquezbernal, @alban

gadgets: Convert profile block-io to image based gadget.
  gadgets/Makefile
  gadgets/profile_blockio/gadget.yaml
  gadgets/profile_blockio/program.bpf.c
Owners: @mauriciovasquezbernal

run: Add support for profilers.
  pkg/gadgets/run/tracer/helpers.go
  pkg/gadgets/run/tracer/run.go
  pkg/gadgets/run/tracer/tracer.go
Owners: @burak-ok, @mauriciovasquezbernal

run: Generate metadata for profilers.
  include/gadget/macros.h
  pkg/gadgets/run/types/metadata.go
  pkg/gadgets/run/types/metadata_test.go
  testdata/Makefile
  testdata/populate_metadata_profiler_struct.bpf.c
  testdata/populate_metadata_profiler_struct.o
Owners: @alban, @mauriciovasquezbernal, @burak-ok

Add signal formatter
  gadgets/trace_signal/program.bpf.c
  include/gadget/types.h
  pkg/operators/formatters/formatters.go
Owners: @mauriciovasquezbernal, @alban, @flyth

trace exec: add exe path
  docs/builtin-gadgets/trace/exec.md
  integration/ig/k8s/trace_exec_test.go
  integration/inspektor-gadget/trace_exec_test.go
  pkg/gadgets/trace/exec/tracer/bpf/execsnoop.bpf.c
  pkg/gadgets/trace/exec/tracer/bpf/execsnoop.h
  pkg/gadgets/trace/exec/tracer/execsnoop_bpfel.o
  pkg/gadgets/trace/exec/tracer/execsnoopwithcwd_bpfel.go
  pkg/gadgets/trace/exec/tracer/execsnoopwithcwd_bpfel.o
  pkg/gadgets/trace/exec/tracer/execsnoopwithlongpaths_bpfel.go
  pkg/gadgets/trace/exec/tracer/execsnoopwithlongpaths_bpfel.o
  pkg/gadgets/trace/exec/tracer/gadget.go
  pkg/gadgets/trace/exec/tracer/tracer.go
  pkg/gadgets/trace/exec/tracer/tracer_test.go
  pkg/gadgets/trace/exec/types/types.go
Owners: @mauriciovasquezbernal, @blanquicet, @mqasimsarfraz, @eiffel-fl

wip: run: Print histogram.
  cmd/common/registry.go
  pkg/columns/columns.go
  pkg/gadgets/interface.go
  pkg/gadgets/run/tracer/tracer.go
  pkg/gadgets/run/types/types.go
Owners: @flyth, @alban, @mauriciovasquezbernal, @burak-ok

modularization and minor fixes
  gadgets/trace_open/trace_open_test.go
  pkg/testing/command/command.go
  pkg/testing/command/teststeps.go
  pkg/testing/ig/ig.go
  pkg/testing/match/match.go
Owners: @mauriciovasquezbernal, @alban

gadgets/trace_malloc: fix tracer's name
  gadgets/trace_malloc/gadget.yaml
  gadgets/trace_malloc/program.bpf.c
Owners: @mauriciovasquezbernal

Fix tracer name in GADGET_TRACER(open, ...)
  docs/devel/hello-world-gadget.md
  docs/reference/gadget-helper-api.md
  gadgets/trace_oomkill/gadget.yaml
  gadgets/trace_oomkill/program.bpf.c
Owners: @mauriciovasquezbernal

kubectl-gadget: Allowed setting output file for (un)deploy
  cmd/kubectl-gadget/deploy.go
  cmd/kubectl-gadget/undeploy.go
Owners: @alban, @mauriciovasquezbernal

kubectl-gadget/deploy: Generalized deploy flags
  cmd/kubectl-gadget/deploy.go
Owners: @alban, @mauriciovasquezbernal

make command more generic and reuse it
  gadgets/trace_open/trace_open_test.go
  pkg/testing/command/command.go
  pkg/testing/ig/ig.go
Owners: @mauriciovasquezbernal, @alban

kubectl-gadget: Add --deploy flag to all commands
  cmd/kubectl-gadget/main.go
Owners: @alban, @mauriciovasquezbernal

wip
  internal/test/runner.go
  pkg/gadgets/trace/exec/tracer/tracer_test.go
  pkg/gadgets/trace/open/tracer/tracer_test.go
Owners: @alban, @mauriciovasquezbernal

Workaround to run tests on different kernel versions
  internal/test/runner.go
  pkg/gadgets/trace/capabilities/tracer/tracer_test.go
  pkg/gadgets/trace/exec/tracer/tracer_test.go
  pkg/gadgets/trace/open/tracer/tracer_test.go
  pkg/gadgets/trace/signal/tracer/tracer_test.go
Owners: @alban, @mauriciovasquezbernal, @eiffel-fl

CI: Run gadget unit tests in different kernel versions
  .github/workflows/inspektor-gadget.yml
Owners: @eiffel-fl, @mqasimsarfraz

gadgets: Introduce TestMain to remove rlimit
  pkg/gadgets/gadgets_test.go
Owners: @alban, @mauriciovasquezbernal

added gadgets-test target, refactored igrunner and command
  .github/workflows/inspektor-gadget.yml
  gadgets/Makefile
  gadgets/trace_open/test/trace_open_test.go
  pkg/testing/command/command.go
  pkg/testing/command/teststeps.go
  pkg/testing/ig/ig.go
  pkg/testing/match/match.go
Owners: @eiffel-fl, @mqasimsarfraz, @mauriciovasquezbernal, @alban

gadgets/ci/sched_cls_drop: add missing gadget.yaml
  gadgets/ci/sched_cls_drop/gadget.yaml
Owners: @mauriciovasquezbernal

pkg/oci: make fixMetadataOwner more generic
  pkg/oci/build_metadata.go
  pkg/oci/fix_owner_linux.go
  pkg/oci/fix_owner_others.go
Owners: @alban, @mauriciovasquezbernal

gadgets/Makefile: add build parameters
  gadgets/Makefile
Owners: @mauriciovasquezbernal

gadgets metadata: update and sync
  gadgets/snapshot_process/gadget.yaml
  gadgets/snapshot_socket/gadget.yaml
  gadgets/top_file/gadget.yaml
  gadgets/trace_dns/gadget.yaml
  gadgets/trace_exec/gadget.yaml
  gadgets/trace_malloc/gadget.yaml
  gadgets/trace_mount/gadget.yaml
  gadgets/trace_oomkill/gadget.yaml
  gadgets/trace_open/gadget.yaml
  gadgets/trace_signal/gadget.yaml
  gadgets/trace_sni/gadget.yaml
  gadgets/trace_tcp/gadget.yaml
  gadgets/trace_tcpconnect/gadget.yaml
  gadgets/trace_tcpdrop/gadget.yaml
  gadgets/trace_tcpretrans/gadget.yaml
Owners: @mauriciovasquezbernal

ci: fail tests if metadata files not updated
  .github/workflows/inspektor-gadget.yml
Owners: @eiffel-fl, @mqasimsarfraz

move metadata for image based gadgets to a better reachable location and version it
  pkg/gadgets/run/tracer/helpers.go
  pkg/gadgets/run/tracer/run.go
  pkg/gadgets/run/tracer/tracer.go
  pkg/gadgets/run/types/metadata.go
  pkg/gadgets/run/types/metadata_test.go
  pkg/gadgets/run/types/types.go
  pkg/metadata/v1/metadata.go
  pkg/oci/build.go
  pkg/oci/build_metadata.go
Owners: @burak-ok, @mauriciovasquezbernal, @alban

pkg/gadgets/run/tracer: change name to "run-legacy"
  pkg/gadgets/run/tracer/run.go
Owners: @burak-ok, @mauriciovasquezbernal

Artifact Hub: publish gadgets
  README.md
  artifacthub-repo.yml
  docs/devel/hello-world-gadget.md
  gadgets/ci/sched_cls_drop/artifacthub-pkg.yml
  gadgets/snapshot_process/artifacthub-pkg.yml
  gadgets/snapshot_socket/artifacthub-pkg.yml
  gadgets/top_file/artifacthub-pkg.yml
  gadgets/trace_dns/artifacthub-pkg.yml
  gadgets/trace_exec/artifacthub-pkg.yml
  gadgets/trace_malloc/artifacthub-pkg.yml
  gadgets/trace_mount/artifacthub-pkg.yml
  gadgets/trace_oomkill/artifacthub-pkg.yml
  gadgets/trace_open/artifacthub-pkg.yml
  gadgets/trace_signal/artifacthub-pkg.yml
  gadgets/trace_sni/artifacthub-pkg.yml
  gadgets/trace_tcp/artifacthub-pkg.yml
  gadgets/trace_tcpconnect/artifacthub-pkg.yml
  gadgets/trace_tcpdrop/artifacthub-pkg.yml
  gadgets/trace_tcpretrans/artifacthub-pkg.yml
Owners: @alban, @mauriciovasquezbernal

refactored, fix for container runtime
  Makefile
  integration/all/integration_test.go
  integration/all/top_tcp_test.go
  integration/all/trace_fsslower_test.go
  integration/all/trace_tcp_test.go
  integration/all/trace_tcpconnect_test.go
Owners: @alban, @mauriciovasquezbernal, @blanquicet, @mqasimsarfraz

artifacthub-repo.yml: new repositoryID
  artifacthub-repo.yml
Owners: @alban, @mauriciovasquezbernal
